<div>
  <h1>Profile of {{profile.userName}}</h1>
  {{#if profile}}
    {{#if profile.photo}}
      <img src={{profile.photo}} alt="user-image" style="width: 50px; border-radius: 50px">
    {{/if}}
  {{/if}}


    <ul>
  {{#each profile.posts}}
    <li><b>{{this.authorUserName}}</b>: {{this.content}}
    <img src="{{this.photo}}" alt="Post-Image"></li>
  {{/each}}
    </ul>
</div>

<a href="/posts">Back to posts</a>