<div>
  <h1>Welcome {{user.userName}}</h1>


    <ul>
  {{#each post}}
    <li><b><a class="decoration" href="/posts/profile/{{this.id}}">{{this.authorUserName}}</b>: {{this.content}}</a>
    <img src="{{this.photo}}" alt="Post-Image"></li>
  {{/each}}
    </ul>
</div>

<form action="/posts/profile" method="post" enctype="multipart/form-data">
    <label for="Content"><b>Post:</b></label>
    <input type="text" name="content" required>
    

    <label for="photo"><b>Photo:</b> </label>
    <input type="file" name="photo">
    
    <button type="'submit">Create a Post</button>
</form>
    <br><br><br><br><br>

    <a href="/posts/profile/edit/{{user.userName}}">Edit Profile</a>
    <a href="/login">Logout</a>
