<div class="profile-container">
  <h1>Profile of {{profile.userName}}</h1>
  {{#if profile}}
    {{#if profile.photo}}
      <img src={{profile.photo}} alt="user-image" class="user-photo" />
    {{/if}}
  {{/if}}
  <br /><br />

  <ul class="post-list">
    {{#each profile.posts}}
      <li>
        <div class="post-image-container">
          <img src="{{this.photo}}" alt="Post-Image" class="post-image" />
        </div>
        <div class="post-details"><b>{{this.authorUserName}}</b>
        </div>
        <p>{{this.content}}</p>
      </li>
    {{/each}}
  </ul>
</div>
<br><br>
<a href="/posts" class="back-link">Back to posts</a>